*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #F2F2F2;
	font-family: 'Open Sans', sans-serif;
}

a{
	border: none;
	outline: none;
	text-decoration: none;
}

ul{
	list-style-type: none;
}